@()

@main("Crosswords")("Contacts") {
    <ul>
        <li><a href="mailto:patrick.oliveiraandrade@@epfl.ch">Patrick Andrade</a></li>
        <li><a href="mailto:johan.berdat@@epfl.ch">Johan Berdat</a>&nbsp;(team leader)</li>
        <li><a href="mailto:timothee.emery@@epfl.ch">Timothée Emery</a></li>
        <li><a href="mailto:matteo.filipponi@@epfl.ch">Matteo Filipponi</a></li>
        <li><a href="mailto:gregory.maitre@@epfl.ch">Grégory Maître</a></li>
        <li><a href="mailto:vincentmichel.mettraux@@epfl.ch">Vincent Mettraux</a></li>
        <li><a href="mailto:utku.sirin@@epfl.ch">Utku Sirin</a></li>
        <li><a href="mailto:laurent.valette@@epfl.ch">Laurent Valette</a></li>
    </ul>
}