@(crossword: Crossword)

@grid() = {
    <table class="grid" cellspacing="0" cellpadding="0">
		<tbody>
		    @for(y <- 0 until crossword.height) {
		        <tr>
    			@for(x <- 0 until crossword.width) {
    			
    			    @crossword.grid(Vec(x, y)) match {
    			    
    			        case (' ', _) => {
    			            <td class="black"/>
    			        }
    			        
    			        case (c, 0) => {
    			            <td class="white">
    			                <input class="cell" autocomplete="off" maxlength="1" solution="@c" id="c-@{x + "-" + y}" onkeypress="getNextCell@{x}@{y}()">
								
								<script>									
									function getNextCell@{x}@{y}() {
										var autoMoveNone = document.getElementById("None");
										var autoMoveRight = document.getElementById("Right");
										var autoMoveDown = document.getElementById("Down");
										
										if (autoMoveRight.checked && document.getElementById("c-@{(x+1) + "-" + y}")) {
											document.getElementById("c-@{(x+1) + "-" + y}").select();
										} else if (autoMoveDown.checked && document.getElementById("c-@{x + "-" + (y+1)}")) {
											document.getElementById("c-@{x + "-" + (y+1)}").select();
										}
									}
								</script>
    			            </td>
    			        }
    			        
    			        case (c, i) => {
    			            <td class="white">
    			                <span class="number">@i</span>
    			                <input class="cell" autocomplete="off" maxlength="1" solution="@c" id="c-@{x + "-" + y}" onkeypress="getNextCell@{x}@{y}()">
								
								<script>									
									function getNextCell@{x}@{y}() {
										var autoMoveNone = document.getElementById("None");
										var autoMoveRight = document.getElementById("Right");
										var autoMoveDown = document.getElementById("Down");
										
										if (autoMoveRight.checked && document.getElementById("c-@{(x+1) + "-" + y}")) {
											document.getElementById("c-@{(x+1) + "-" + y}").select();
										} else if (autoMoveDown.checked && document.getElementById("c-@{x + "-" + (y+1)}")) {
											document.getElementById("c-@{x + "-" + (y+1)}").select();
										}
									}
								</script>
    			            </td>
    			        }
    			        
    			    }
    			}
    			</tr>
		    }
		</tbody>
	</table>
}

@list(title: String, values: Seq[(Int, String)]) = {
    <h2>@title</h2>
    <ul class="clues">
        @for((i, c) <- values) {
            <li><b>@i</b> @c</li>
        }
    </ul>
}

@main("Crosswords")("Crosswords"){
	<h3>Options: </h3>
	<b>Automovement : </b>
	<input type="radio" name="group1" value="None" id="None"> None
	<input type="radio" name="group1" value="Right" id="Right" checked> Right
	<input type="radio" name="group1" value="Down" id="Down"> Down
	
    @grid()
    @list("Across", crossword.across)
    @list("Down", crossword.down)
	
	<button type="button" onclick="correctCrossword()">Correct!</button>
	
	<script>
		function correctCrossword() {
		
			var correct = true;
			for (i = 0; i < @crossword.height; i++) { 
				for (j = 0; j < @crossword.width; j++) { 
					var input = document.getElementById("c-" + i + "-" + j);
					if (input) {
						if (input.value != input.getAttribute('solution')) {
							input.parentNode.className = "red";
							correct = false;
						} else {
							input.parentNode.className = "green";
						}
					}
				}
			}
			
			if (correct) {
				alert("You finished the crossword. Congratulations")
			}
		}
		
		
	</script>
}
