@()

@main("Crosswords")("Search") {

<div class="ui-widget">
        Search for associate words : <input id="searchText" type="text" placeholder="Search similarities" name="searchText" onkeypress="if (event.keyCode==13){chooseSearchMethod()}">
        Search for matched words   : <input id="searchWord" type="text" placeholder="Search a pattern" name="searchWord" onkeypress="if (event.keyCode==13){chooseSearchMethod()}">
    </div>

    <div id="output" class="ui-widget">
</div>
	
<script type="text/javascript">
    var successFn = function(data) {
        var div = document.getElementById("output");
        div.innerHTML = data;

    console.debug("Success of Ajax Call");
    console.debug(data);
    };
    var errorFn = function(err) {
    console.debug("Error of ajax Call");
    console.debug(err);
    }

    ajax1 = {
    success: successFn,
    error: errorFn
    }

    function searchingAssociate() {

        var searchWord = $("#searchText").val();

        jsRoutes.controllers.Search.searchAssociate(searchWord)
        .ajax(ajax1);

    }

    function searchingMatched() {

        var searchWord = $("#searchWord").val();

        jsRoutes.controllers.Search.searchMatching(searchWord)
        .ajax(ajax1);

    }
	
	function chooseSearchMethod() {
		var searchText = $("#searchText").val();
		var searchWord = $("#searchWord").val();
		
		if (searchText && searchWord) {
			jsRoutes.controllers.Search.searchAssociateMatching(searchText, searchWord).ajax(ajax1);
		} else if (searchText) {
			jsRoutes.controllers.Search.searchAssociate(searchText).ajax(ajax1);
		} else if (searchWord){
			jsRoutes.controllers.Search.searchMatching(searchWord).ajax(ajax1);
		}
	}
</script>
}
