@()

@main("Crosswords")("Search") {
<script type="text/javascript">
    var successFn = function(data) {
        var div = document.getElementById("output");
        //$("#output").append(data);
        div.innerHTML = data;

    console.debug("Success of Ajax Call");
    console.debug(data);
    };
    var errorFn = function(err) {
    console.debug("Error of ajax Call");
    console.debug(err);
    }

    ajax1 = {
    success: successFn,
    error: errorFn
    }

    function searchingAssociate() {

        var searchWord = $("#searchText").val();

        jsRoutes.controllers.Search.searchAssociate(searchWord)
        .ajax(ajax1);

    }

    function searchingMatched() {

        var searchWord = $("#searchWord").val();

        jsRoutes.controllers.Search.searchMatching(searchWord)
        .ajax(ajax1);

    }
</script>


    <div class="ui-widget">
        Search for associate words : <input id="searchText" type="text" placeholder="Search specific sentence" name="searchText" onkeypress="if (event.keyCode==13){searchingAssociate()}">
        Search for matched words   : <input id="searchWord" type="text" placeholder="Search specific word" name="searchWord" onkeypress="if (event.keyCode==13){searchingMatched()}">
    </div>

    <div id="output" class="ui-widget">
    </div>
}
