div#mainDiv {
    text-align: center;
}

table {
    margin: 0 auto;
}


table#cw{
    border: 1px solid black;
    border-collapse: collapse;
}

td#cw{
    border: 1px solid black;
    border-collapse: collapse;
    width: 50px;
}

tr#cw{
    border: 1px solid black;
    border-collapse: collapse;
    height: 50px;
}

td#cwred{
    border: 1px solid black;
    border-collapse: collapse;
    background-color: red;
    width: 50px;
}

input#txtcellred {
    border: none;
    border-color: transparent;
    background-color: red;
    width: 50px;
    height: 50px;
    font-size: 45px;
    text-align: center;
    font-family: "Times New Roman", "Arial";
}

td#cwbl {
    border: 1px solid black;
    border-collapse: collapse;
    background-color: black;
    width: 50px;
}

input#txtcell {
    border: none;
    border-color: transparent;
    width: 50px;
    height: 50px;
    font-size: 45px;
    text-align: center;
    font-family: "Times New Roman", "Arial";
}

li#txtdef {
    font-size: 20px;
    font-family: "Times New Roman", "Arial";
}